<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DangVanPhuc_10121268_DA1_QLNH.Properties.Settings.QLNH_DA1_10121268_DVPConnectionString"
            connectionString="Data Source=DESKTOP-10EUU23\SQLEXPRESS;Initial Catalog=QLNH_DA1_10121268_DVP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>